@import url("https://fonts.googleapis.com/css?family=Merriweather");

:root {
	--main-color: #424242;
	--secondary-color: #666666;
	--accent-color: #e91d63;
}

html {
    width: 100%;
}

body {
	/*background-color:; */
	font-family:"Merriweather";
}

.title
.game-index-title
.game-index-subtitle
.description
.more-info